@media (max-width: 576px){

    .marquee{
        height: 70%;
    }

    .marquee__item_mobile{
        position: relative;
        }

    #mar-dynamic-mobile{
        top: -325px;
    }

    #mar-html{
        top: 150px;
    }

    #mar-video{
        top:0;
    }

}


@media (max-width: 380px) and (max-height: 780px){

    .marquee__item_mobile{
        height: 290px;
    }

    #mar-dynamic-mobile {
        top: -310px;
    }

    .marquee__item2{
        height: 300px;
        width: 100%;
    }

    .toggle__item{
        height: 30px;
        padding-top: 10px;
    }

    .toggle{
        height: 80px;
        margin-bottom: 20px;
    }

    .container_2 {
        padding-top: 90px;
    }

}